/* Error: $color: 0b1e32 is not a color.
 *     ,
 * 186 |     background-color: rgba($navbar_background, 0.94);
 *     |                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   out/watermarkerplus/css/main.scss 186:23  @import
 *   out/watermarkerplus/css/style.scss 2:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $color: 0b1e32 is not a color.\a     \2577 \a 186 \2502      background-color: rgba($navbar_background, 0.94);\d\a     \2502                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   out/watermarkerplus/css/main.scss 186:23  @import\a   out/watermarkerplus/css/style.scss 2:9    root stylesheet";
}
